header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 2rem 7rem;
  z-index: 1;
  transition: 0.3s;
}
header.active {
  transform: translateX(-400px);
}
header .logo {
  position: relative;
  font-size: 2rem;
  color: #fff;
  background:#000;
  font-weight: 500;
  padding: 0 0.3rem;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 4.3rem;
    height: 100%;
    background:rgb(255, 255, 255);
  }
  span {
    color: rgb(240, 240, 240);
    mix-blend-mode: difference;
  }
}

header ul {
  position: relative;
  display: flex;
  gap: 4rem;
}

.burger {
  position: relative;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}
.burger::before,
.burger::after {
  content: "";
  position: absolute;

  height: 2px;
  width: 100%;
  background: $bg-secondary;
}
.burger::before {
  top: 7px;
}
.burger::after {
  bottom: 7px;
}

header.active .burger::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}
header.active .burger::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%) rotate(-45deg);
}
