html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

body {
  line-height: 1.5;
  color: $color-secondary;
  background: $bg-basic-75;
  width: 100%;
  display: flex;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  height: 100vh;
}

html.color-theme-in-transition,
html.color-theme-in-transition * {
  transition: 200ms;
  transition-delay: 0;
}

html[data-theme="dark"] .blend {
  filter: invert(100%) hue-rotate(180deg);
  mix-blend-mode: screen;
}

#app {
  width: 100vw;
}
.content {
  display: grid;
  gap: 2rem;
  padding: 0 0.5rem 1rem 0;
  width: 100%;
  height: 100%;
}
.invert {
  filter: invert(1);
}
.blend {
  // mix-blend-mode: multiply;
  width: 150px;
}

.d-none {
  display: none;
}

[data-text] {
  cursor: help;

  &::after {
    background: $bg-basic;
    border-radius: 5px 5px 5px 0px;
    box-shadow: 1px 1px 10px $bg-basic-75;
    color: $color-secondary;
    content: attr(data-text); /* Главная часть кода, определяющая содержимое всплывающей подсказки */
    margin-top: -2rem;
    opacity: 0; /* Наш элемент прозрачен... */
    padding: 0.1rem 0.3rem;
    position: absolute;
    visibility: hidden; /* ...и скрыт. */
    font-size: 0.8rem;
    // transition: 0.12s ease-in-out; /* Добавить плавности по вкусу */
  }

  &:hover::after {
    opacity: 1; /* Показываем его */
    visibility: visible;
  }
}
.scroll-wrapper {
  display: flex;
  align-items: center;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
}
.sub-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
}

.ttu {
  text-transform: uppercase;
}

.ls3 {
  letter-spacing: 3px;
}

.accent {
  color: $color-accent;
}
.bg-accent {
  background: $color-accent;
}

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 40px;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
}

.btn.primary {
  font-weight: 700;
  color: var(--color-secondary);
  background: var(--bg-basic);
  box-shadow: 0 0 2px var(--bg-accent), 0 0 1px var(--bg-accent), 0 0 1px var(--bg-accent), 0 0 1px var(--bg-accent);

  &:hover {
    // opacity: 1;
    color: var(--color-accent);
    // box-shadow: 0 0 5px var(--bg-accent), 0 0 1px var(--bg-accent), 0 0 5px var(--bg-accent), 0 0 3px var(--bg-accent);
  }
}

@media (max-width:1200px) {
  html {
    font-size: 0.82rem;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 0.8rem;
  }

}
@media (max-width: 540px) {
  html {
    font-size: 0.5rem;
  }

}
