main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 5.5rem 7rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
header.active ~ main {
  transform: translateX(-400px);
}

.main-banner {
  max-width: 37rem;
  font-size: 2rem;
  letter-spacing: 4px;
  h2 {
    text-transform: uppercase;

    font-weight: 900;
  }
  span {
    font-size: 4rem;
  }
  p {
    margin-bottom: 4rem;
    font-size: 2rem;
    font-weight: 600;
  }

  a {
    padding: 0.5rem 1.5rem;
    border-radius: 40px;
 
    opacity: 0.9;
   
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    transition: 0.3s;

    color: $color-secondary;
    background: $bg-basic;

    box-shadow: 0 0 5px $bg-accent,
      0 0 1px $bg-accent,
      0 0 5px $bg-accent,
      0 0 3px $bg-accent;

    &:hover {
      opacity: 1;
      color: $color-basic;
      background: $bg-accent;
    }
  }
  
}

.img-box {
  width: 600px;
  margin: 1rem 4rem;
  display: flex;
  justify-content: center;

  img {
    max-width: 200px;
  }
}

.sci {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  display: grid;
  gap: 2rem;
  opacity: 0.7  ;
  svg {
    cursor: pointer;
    color: $color-primary;
    width: 1.8rem;
    height: 1.8rem;

    &:hover{
      color:$bg-accent;
    }
  }
}

.circle {
  z-index: -1;
  position: fixed;
  left: 0;
  bottom: 0;
  transform: translate(-13%);
  width: 125vw;
  height: 200vh;
  filter: url(#wavy) blur(1px);

  opacity: 0.7;
}
.circle::before {
  position: absolute;
  content: "";
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  border: 10px solid $bg-secondary;
  border-radius: 50%;
  box-shadow: 0 0 50px $bg-secondary, inset 0 0 50px $bg-secondary;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0002);
  animation: animate 5s linear infinite;
}
.circle::after {
  position: absolute;
  content: "";
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  border: 10px solid $bg-secondary ;
  border-radius: 50%;
  box-shadow: 0 0 10px $bg-secondary, inset 0 0 20px $bg-secondary;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0002);

}

@keyframes animate {
  0% {
    box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
    filter: hue-rotate(0deg);
  }
  20% {
    box-shadow: 0 0 60px #0f0, inset 0 0 60px #0f0;
   
  }
  40% {
    box-shadow: 0 0 40px #0f0, inset 0 0 40px #0f0;
  
  }
  60% {
    box-shadow: 0 0 80px #0f0, inset 0 0 80px #0f0;
   
  }
  80% {
    box-shadow: 0 0 100px #0f0, inset 0 0 100px #0f0;
  
  }
  100% {
    box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
    filter: hue-rotate(360deg);
  }
}

svg {
  width: 0;
  height: 0;
}
